<div class="shadow rounded d-flex card-booking my-4" data-controller="accept-decline-booking" data-accept-decline-booking-target="card">
  <img class="img-booking rounded-start" src="<%= booking.venue.picture_url%>" alt="venue image" height="150px" width="150px">
  <div class="p-3">
    <h4><%= booking.venue.name %></h4>
    <p><%= booking.venue.location %></p>
    <p>Total Cost: $<%= booking.total_price%></p>
      <%= simple_form_for booking, data: { action: "submit->accept-decline-booking#send"} do |f|%>
        <input type="hidden" name="status" value="active" autocomplete="off">
        <%= f.submit "Accept" %>
      <% end %>
      <%= simple_form_for booking, data: { action: "submit->accept-decline-booking#send"} do |f|%>
        <input type="hidden" name="status" value="archived" autocomplete="off">
        <%= f.submit 'Decline'%>
      <% end %>
  </div>
</div>
