<div class="shadow rounded d-flex card-booking my-4" data-controller="accept-decline-booking" data-accept-decline-booking-target="card">
  <img class="img-booking rounded-start" src="<%= booking.venue.picture_url%>" alt="venue image" height="150px" width="150px">
  <div class="p-2 d-flex flex-column align-items-center justify-content-around">
    <h4><%= booking.venue.name %></h4>
    <p class="text-secondary"><%= booking.venue.location %></p>
    <p><b>Total Cost: $<%= booking.total_price %></b></p>
    <p><b><%= booking.start_time.strftime("%a, %-d %b %l%P") %> -<%= booking.end_time.strftime("%l%P") %></b></p>
    <% unless booking.song_url == ''%>
    <iframe width="200" height="50" src="https://www.youtube.com/embed/<%= booking.song_url %>?fs=0&modestbranding=1" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <% end %>
    <div class="d-flex">
      <%= simple_form_for booking, data: { action: "submit->accept-decline-booking#send"} do |f|%>
        <input type="hidden" name="status" value="active" autocomplete="off">
        <button class="icon icon-accept me-4"><i class="fa-solid fa-check"></i></button>
      <% end %>

      <%= simple_form_for booking, data: { action: "submit->accept-decline-booking#send"} do |f|%>
        <input type="hidden" name="status" value="archived" autocomplete="off">
        <button class="icon icon-decline"><i class="fa-solid fa-xmark"></i></button>
      <% end %>
    </div>
      <%= link_to booking_path(booking),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash"></i>
      <% end %>
  </div>
</div>
