<div class="row justify-content-center">

 <% @venues.each do |venue| %>
        <div class="card col-4 p-0 m-2">
          <img class="card-img-top" src="<%= venue.picture_url %>" alt="Card image">
          <div class="card-body">
            <h5 class="card-title"><%= venue.name %></h5>
            <p class="card-details"><%= venue.description %></p>
            <p class="card-details">Room Size: <%= venue.room_size %></p>
            <p class="card-price">$<%= venue.price_per_hour %></p>

            <%= link_to edit_venue_path(venue),
            class:"btn edit" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>

            <%= link_to venue_path(venue),
            class:"btn",
            method: :delete,
	          data: { confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end  %>

          </div>
        </div>
      <% end %>

</div>
