<head>
  <link href=”https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css” rel=”stylesheet” integrity=”sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU” crossorigin=”anonymous”>
</head>
<div class="container">
  <div class="row">
    <div class="home-container">

      <% @venues.each do |venue| %>
        <div class="card">
          <img class="card-img-top" src="<%= venue.picture_url %>" alt="Card image">
          <div class="card-body">
            <h5 class="card-title"><%= venue.name %></h5>
            <p class="card-details"><%= venue.description %></p>
            <p class="card-details">Room Size: <%= venue.room_size %></p>
            <p class="card-price">$<%= venue.price_per_hour %></p>
            <a href="<%= venue_path(venue) %>" class="btn">Book Now</a>
          </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
